* {
  font-family: Nexa !important;
}

body {
  background-color: #F3F5F9;
}

.header-landing {
  background-color: #F3F5F9;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  font-family: Nexa !important;
}

.text-section {
  max-width: 500px;
}

.text-section h1 {
  color: #3167D9;
  font-size: 68px;
  margin-bottom: 20px;
  font-family: Nexa !important;
  font-weight: bold;
  line-height: 1.1;
}

/* Sección de servicios */
.services-section {
  background-color: #F3F5F9;
  padding: 20px;
}

.services-section h2 {
  color: #3167D9;
  font-size: 30px;
  margin-bottom: 40px;
  font-family: Nexa !important;
  font-weight: bold;
  text-align: left;
}

.services-carousel {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Permite el ajuste en dispositivos más pequeños */
  font-family: Nexa !important;
  justify-content: center; /* Centra las cards en pantallas pequeñas */
}

.service-card {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: calc(33.33% - 20px); /* Toma un tercio del ancho con espacio */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: Nexa !important;
  margin-bottom: 20px;
  min-height: 350px; /* Ajusta la altura mínima según tus necesidades */
}

.service-icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.service-card h3 {
  color: #2463EB;
  font-size: 22px;
  margin-bottom: 15px;
  font-family: Nexa !important;
}
.service-card p {
  font-size: 15px;
  color: black;
  margin-bottom: auto; /* Esto empuja el botón hacia abajo */
}


.two p {
  margin-bottom: 70px;
}

.btn-appointment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3167D9;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #3167D9;
  margin-top: auto; /* Asegura que el botón quede al final del card */
}
.btn-appointment i {
  margin-left: 10px;
}

.btn-appointment:hover {
  background-color: #3167D9;
  border-color: #3167D9;
  color: white;
}

/* Responsive Styles */

@media (max-width: 1200px) {
  .service-card {
    width: calc(50% - 20px); /* Toma la mitad del ancho con espacio */
  }

  .text-section h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .text-section h1 {
    font-size: 36px;
  }

  .services-section h2 {
    font-size: 24px;
  }

  .service-card {
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  }

  .btn-appointment {
    width: 100%;
    justify-content: center; /* Centra el contenido dentro del botón */
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 20px;
  }

  .text-section h1 {
    font-size: 28px;
  }

  .services-section h2 {
    font-size: 20px;
    text-align: center; /* Centra el título en pantallas pequeñas */
  }
}
