<body>
  <div class="header-landing">
    <div>
      <app-navbar></app-navbar>
    </div>
    <div class="wrapper">
      <div class="image-container">
        <!-- Título -->
        <h3 class="image-title">Nosotros</h3>

        <!-- Imagen debajo del título -->
        <img src="assets/images/Doctora2.png" alt="Doctor Image" class="doctor-image">
      </div>

      <div class="text-section">
        <!-- Bienvenida Inicio -->
        <p>En ConsultDent, nos dedicamos a brindar atención dental de la más alta calidad con un enfoque personalizado
          para cada uno
          de nuestros pacientes. Desde nuestra fundación, hemos establecido un compromiso firme con la salud bucal,
          ofreciendo una
          amplia gama de servicios dentales que incluyen desde revisiones de rutina hasta tratamientos especializados.
        </p>
        <p>
          Nuestro equipo de profesionales altamente capacitados se mantiene a la vanguardia en las últimas técnicas y
          tecnologías
          dentales, asegurando que cada tratamiento sea efectivo, seguro y lo más cómodo posible para nuestros
          pacientes.
          En ConsultDent, creemos que una sonrisa saludable es fundamental para el bienestar general, y estamos aquí
          para
          ayudarte a lograrla.
        </p>
        <p>
          Además, nos enorgullece ofrecer un ambiente acogedor y relajante, donde cada paciente se siente valorado y
          escuchado.
        </p>
        <p>
          En ConsultDent, tu sonrisa es nuestra prioridad.
        </p>
      </div>
    </div>
  </div>
</body>
