<div>
  <app-navbar-usuario></app-navbar-usuario>
</div>

<body>
  <div class="wrapper">
    <div class="container">
      <div class="header">
        <h1>Citas agendadas</h1>
      </div>

      <div class="citas-agenda">
        <div *ngFor="let event of myEvents" class="cita" [style.border-left-color]="event.color">
          <div class="cita-header">
            <span class="dia-semana">{{ event.dia }}</span>
            <span class="fecha">{{ event.fecha | date: 'dd/MM/yyyy':'UTC' }}</span>
          </div>
          <div class="cita-detalle">
            <p><strong>Hora:</strong> {{ event.hora }}</p>
            <p><strong>Servicio:</strong> {{ event.motivo }}</p>
            <p><strong>Duración estimada:</strong> {{ event.duracion }}</p>
            <p><strong>Paciente:</strong> {{ event.paciente }} {{ event.PA }} {{ event.PM }}</p>
            <!-- <p><strong>ID:</strong> {{ event.id }}</p> -->

            <!-- Ícono de edición específico para cada evento -->
            <span class="edit-icon" (click)="goEditar(event.id)"><i class="bi bi-pencil-square"></i></span>
            <span class="delete-icon" (click)="delete(event.id)" ><i class="bi bi-trash3-fill"></i></span>

          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

  <button (click)="anteriorSemana()" class="btn-flecha">←</button>
  <button (click)="siguienteSemana()" class="btn-flecha">→</button>
</body>
