<div class="wrapper">
  <header>
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="/assets/images/Logo.png" alt="Logo-Consultorio" (click)="clickNavLink('Paciente')">
        <!-- TODO: revisar que de acuerdo al rol sea el clicknavlink -->
      </div>

      <ul class="navbar-links">

        <li class="nav-item">
          <a class="nav-link active" id="Perfil" aria-current="page" (click)="clickNavLink('Perfil-paciente')">Perfil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" id="Agendar-Cita" aria-current="page" (click)="clickNavLink('Agendar-cita')">Agendar Cita</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" id="Citas-Agendadas" aria-current="page" (click)="clickNavLink('Citas-agendadas')">Citas agendadas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" id="Historial-Consultas" aria-current="page">Historial de Consultas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" id="Historial-Recetas" aria-current="page">Historial de Recetas</a>
        </li>

      </ul>

      <div class="navbar-actions">
        <a class="register" (click)="clickNavLink('Login')">Cerrar Sesión</a>
      </div>

    </nav>

  </header>

</div>
