<div class="wrapper">
  <header>
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="/assets/images/Logo.png" alt="Logo-Consultorio" (click)="clickNavLink(getNavLinkForRole())">
      </div>

      <!-- Botón de menú para pantallas pequeñas -->
      <div class="navbar-toggle" (click)="isMenuOpen = !isMenuOpen">
        ☰
      </div>

      <!-- Enlaces de navegación, se muestran u ocultan según el estado de isMenuOpen -->
      <ul class="navbar-links" [class.active]="isMenuOpen">
        <ng-container *ngIf="rol === 'paciente'">
          <li class="nav-item" *ngFor="let link of pacienteLinks">
            <a class="nav-link active" [id]="link.id" aria-current="page" (click)="clickNavLink(link.path)">
              {{ link.label }}
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="rol === 'doctor'">
          <li class="nav-item" *ngFor="let link of doctorLinks">
            <a class="nav-link active" [id]="link.id" aria-current="page" (click)="clickNavLink(link.path)">
              {{ link.label }}
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="rol === 'recepcionista'">
          <li class="nav-item" *ngFor="let link of recepcionistaLinks">
            <a class="nav-link active" [id]="link.id" aria-current="page" (click)="clickNavLink(link.path)">
              {{ link.label }}
            </a>
          </li>
        </ng-container>
      </ul>

      <div class="navbar-actions" [class.active]="isMenuOpen">
        <a class="register" (click)="logout()">Cerrar Sesión</a>
      </div>
    </nav>
  </header>
</div>
