<div class="wrapper">
  <header>
    <nav class="navbar">
      <div class="navbar-logo">
        <!-- Navega de acuerdo al tipo de usuario -->
        <img src="/assets/images/Logo.png" alt="Logo-Consultorio" (click)="clickNavLink(getNavLinkForRole())">
      </div>

      <ul class="navbar-links">
        <!-- Menú Paciente -->
        <ng-container *ngIf="rol === 'paciente'">
          <li class="nav-item" *ngFor="let link of pacienteLinks">
            <a class="nav-link active" [id]="link.id" aria-current="page" (click)="clickNavLink(link.path)">
              {{ link.label }}
            </a>
          </li>
        </ng-container>

        <!-- Menú Doctor -->
        <ng-container *ngIf="rol === 'doctor'">
          <li class="nav-item" *ngFor="let link of doctorLinks">
            <a class="nav-link active" [id]="link.id" aria-current="page" (click)="clickNavLink(link.path)">
              {{ link.label }}
            </a>
          </li>
        </ng-container>

        <!-- Menú Recepcionista -->
        <ng-container *ngIf="rol === 'recepcionista'">
          <li class="nav-item" *ngFor="let link of recepcionistaLinks">
            <a class="nav-link active" [id]="link.id" aria-current="page" (click)="clickNavLink(link.path)">
              {{ link.label }}
            </a>
          </li>
        </ng-container>
      </ul>

      <div class="navbar-actions">
        <a class="register" (click)="logout()">Cerrar Sesión</a>
      </div>
    </nav>
  </header>
</div>
