<div class="wrapper">

  <header>
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="/assets/images/Logo.png" alt="Logo-Consultorio">
      </div>
      <!-- Botón de menú para pantallas pequeñas -->
      <div class="navbar-toggle" (click)="isMenuOpen = !isMenuOpen">
        ☰
      </div>
      <ul class="navbar-links" [class.active]="isMenuOpen">

        <li class="nav-item">
          <a class="nav-link active" id="Inicio" aria-current="page" (click)="clickNavLink('Inicio')">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" id="Nosotros" aria-current="page" (click)="clickNavLink('Nosotros')">Nosotros</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" id="Servicios" aria-current="page"
            (click)="clickNavLink('Servicios')">Servicios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" id="Contacto" aria-current="page" (click)="clickNavLink('Contacto')">Contacto</a>
        </li>

      </ul>

      <div class="navbar-actions" [class.active]="isMenuOpen">
        <a class="register" (click)="clickNavLink('Login')">Iniciar Sesión</a>
        <a class="register" (click)="clickNavLink('Registro')">Registrarse</a>
      </div>

    </nav>

  </header>

</div>
