<div>
  <app-navbar-usuario></app-navbar-usuario>
</div>
<div class="header-landing">
  <h2 class="my-4">Lista de pacientes</h2>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="assets/images/user.jpg" alt="user" class="rounded-circle" width="50" height="50">
          <span class="ml-3">María Emilia Mernes</span>
        </div>
        <button class="btn btn-primary">Ver perfil</button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="assets/images/user.jpg" alt="user" class="rounded-circle" width="50" height="50">
          <span class="ml-3">Nicole Denise Cucco</span>
        </div>
        <button class="btn btn-primary">Ver perfil</button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="assets/images/user.jpg" alt="user" class="rounded-circle" width="50" height="50">
          <span class="ml-3">Patricio O'Ward Junco</span>
        </div>
        <button class="btn btn-primary">Ver perfil</button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="assets/images/user.jpg" alt="user" class="rounded-circle" width="50" height="50">
          <span class="ml-3">Peter Gene Hernández</span>
        </div>
        <button class="btn btn-primary">Ver perfil</button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="assets/images/user.jpg" alt="user" class="rounded-circle" width="50" height="50">
          <span class="ml-3">Sebastián Obando Giraldo</span>
        </div>
        <button class="btn btn-primary">Ver perfil</button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="assets/images/user.jpg" alt="user" class="rounded-circle" width="50" height="50">
          <span class="ml-3">Sergio Michel Pérez Mendoza</span>
        </div>
        <button class="btn btn-primary">Ver perfil</button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img src="assets/images/user.jpg" alt="user" class="rounded-circle" width="50" height="50">
          <span class="ml-3">Tiago Uriel Pacheco Lescano</span>
        </div>
        <button class="btn btn-primary">Ver perfil</button>
      </li>
    </ul>
  </div>
</div>
