<div class="header-landing">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="todo">
    <div class="wrapper">
      <div class="contacto">
        <h3 class="encabezado">Contacto</h3>
        <div class="container">
          <img src="assets/images/Doctora3.png" alt="Doctor Image" class="doctor-image">
          <h1>Dra.</h1>
          <h4>Nombre</h4>
          <p class="dato">Cynthia López</p>
          <h4>Correo electrónico</h4>
          <p class="dato">cynthia_lpz&#64;gmail.com</p>
        </div>
      </div>

      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21973.547281797637!2d-98.18014969653764!3d19.011520363756382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc11bd98fc211%3A0x876a9e842accf224!2sDENTISTA%20%7C%20Consultorio%20Dental%20Dra.%20Norma%20Sainos!5e0!3m2!1ses!2smx!4v1724957694592!5m2!1ses!2smx"
          width="600" height="380" class="map-frame" allowfullscreen="" 
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>
    <div class="pie2">
      <div class="pie">
        <div class="info-extra">
          <div>
            <img src="assets/images/Ubicacion.png" alt="Ubicacion" class="icons">
          </div>
          <div class="info-item">
            <p>Avenida de la Salud 123,<br> Oficina 4<br> 28001 Puebla, México</p>
          </div>
          <div>
            <img src="assets/images/reloj.png" alt="Reloj" class="icons">
          </div>
          <div class="info-item">
            <p>Lunes - Viernes: 09:00 – 21:00<br> Sábado: 09:30 – 13:30</p>
          </div>
          <div>
            <img src="assets/images/correo.png" alt="Correo" class="icons">
          </div>
          <div class="info-item">
            <p>clinident_pue&#64;gmail.com</p>
          </div>
          <div>
            <img src="assets/images/telefono.png" alt="Telefono" class="icons">
          </div>
          <div class="info-item">
            <p>+212 5 28 22 12 34</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
