<div class="header-landing">
  <div>
    <app-navbar-usuario></app-navbar-usuario>
  </div>
</div>

<div>

  <body>
    <div class="container">

      <!-- Sección de bienvenida -->
      <div class="welcome-section">
        <h1>Bienvenido <span>Nicole Denise!</span></h1>
        <!-- TODO: hacerlo con la BD {{name_user}} -->
      </div>

      <div class="main-content">
        <div class="left-section">

          <div class="info-card ">
            <div class="left-section">
              <!-- Sección "¿Sabías qué?" -->
              <p class="subtitulos">¿Sabías qué?</p>
              <img src="/assets/images/cepillado.png" alt="Cepillado dental correcto">
              <p class="info-card1">El cepillado dental correcto debe durar al menos dos minutos y realizarse dos veces
                al día, utilizando una pasta con flúor.</p>
            </div>

            <div class="left-section">
              <!-- Historial de servicios -->
              <h3>Historial de servicios</h3>
              <div class="services-history ">

                <ul>
                  <!-- TODO: hacerlo en formato de tabla -->
                  <li><strong>Restauración dental</strong> - 06/08/2024</li>
                  <li><strong>Tratamiento de encías</strong> - 12/08/2024</li>
                  <li><strong>Implantes</strong> - 18/08/2024</li>
                </ul>
              </div>


            </div>

          </div>

          <div class="agenda-perfil">
            <!-- Próximas citas -->
            <div class="upcoming-appointments">
              <h3>Agenda</h3>
              <div class="calendar">
                <mbsc-eventcalendar [data]="myEvents" [options]="eventSettings"></mbsc-eventcalendar>
                <!-- <img src="/assets/images/calendario.png" alt="Calendario"> -->
                <p><strong>Revisión y limpieza dental</strong><br>Dra. Cynthia López<br>10:00 AM - 10:45 AM</p>
                <p><strong>Ajuste de ortodoncia</strong><br>Dra. Cynthia López<br>1:00 PM - 1:45 PM</p>
              </div>
            </div>

            <div class="profile-section">
              <h3>Perfil</h3>
              <div class="profile-header">
                <img class="profile-pic" src="assets/images/user.jpg" alt="Imagen de perfil">
                <div class="profile-info">
                  <h4>Nicole Denise</h4>
                </div>
              </div>

              <!-- Navegación de pestañas -->
              <div class="profile-tabs">
                <button class="tab-button active">Información</button>
                <button class="tab-button">Datos médicos</button>
                <!-- <button class="tab-button">Contacto</button> -->
              </div>

              <!-- Contenido de la pestaña Información -->
              <div class="tab-content active">
                <p><strong>Nombre (s):</strong> Nicole Denise</p>
                <p><strong>Apellido Paterno:</strong> Cucco</p>
                <p><strong>Apellido Materno:</strong> Pérez</p>
                <p><strong>Fecha de Nacimiento:</strong> 25/08/2000</p>
                <p><strong>Correo electrónico:</strong> nicole23&#64;gmail.com</p>
                <p><strong>Número de teléfono:</strong> 2222222222 </p>

              </div>

              <!-- Contenido de la pestaña Datos médicos (aquí puedes agregar más detalles si es necesario) -->
              <div class="tab-content">
                <p>Datos médicos aún no disponibles.</p>
              </div>

              <!-- Contenido de la pestaña Contacto (aquí puedes agregar más detalles si es necesario) -->
              <div class="tab-content">
                <p>Información de contacto adicional.</p>
              </div>
            </div>

          </div>

        </div>

        <div class="right-section">
          <!-- Receta reciente -->
          <div class="prescription-section">
            <h3>Receta reciente</h3>
            <p><strong>Paciente:</strong> Nicole Denise Cucco Pérez</p>
            <p><strong>Fecha:</strong> 18/08/2024</p>
            <p><strong>Diagnóstico:</strong> Gingivitis</p>
            <p><strong>Medicamento:</strong> Clorhexidina al 0.12% en solución</p>
            <p><strong>Dosis:</strong> Realizar enjuagues bucales con 15 ml de la solución sin diluir, dos veces al día
              durante 14 días.</p>
            <p><strong>Indicaciones:</strong> No ingerir alimentos ni bebidas durante 30 minutos después del enjuague.
              Usar durante 14 días.</p>
            <p><strong>Nota:</strong> No utilizar de manera prolongada para evitar la pigmentación dental.</p>
            <p><strong>Firma y sello del odontólogo:</strong>
              <img src="/assets/images/firma.png" alt="Firma">
          </div>
        </div>

      </div>
    </div>
  </body>
</div>
