* {
  font-family: Nexa !important;
}

body {
  background-color: #F3F5F9;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
}

.welcome-section {
  margin-bottom: 25px;
  margin-left: 60px;
  padding: 10px;
}

.welcome-section h1 {
  font-size: 2.2rem;
  color: #3167D9;
}

.welcome-section h1 span {
  color: #3167D9;
  font-weight: bold;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-section{
  width: 54%;
}

.right-section {
  width: 42%;
}

.info-card1{
  font-size: 85%;
}

.info-card2{
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}

.info-card, .upcoming-appointments, .profile-section, .prescription-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.info-card, .services-history{
  display: flex;
}

.info-card img {
  max-width: 95%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.services-history ul, .calendar {
  list-style-type: none;
}

.subtitulos, h3, .upcoming-appointments h3, .profile-section h3, .prescription-section h3 {
  margin-bottom: 15px;
  color: #003049;
  font-weight: bold;
  font-size: 1.3rem;
}

.calendar p {
  margin-bottom: 15px;
}

.prescription-section p {
  margin-bottom: 10px;
}

.prescription-section img{
  max-width: 40%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.calendar img{
  max-width: 10%;
}


.agenda-perfil {
  display: flex;
  justify-content: space-between;
}

.upcoming-appointments, .profile-section {
  width: 48%;
}

.profile-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
}

.profile-header {
  margin-bottom: 15px;
  text-align: center;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;

}

.profile-info h4 {
  font-size: 1.5rem;
  color: #003049;
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-info p {
  font-size: 1rem;
  color: #5A5A5A;
}

.profile-info span {
  color: #888;
}

.profile-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tab-button {
  background: none;
  border: none;
  color: #003049;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
}

.tab-button.active {
  color: #3167D9;
  border-bottom: 2px solid #3167D9;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content p {
  margin-bottom: 10px;
  color: #333;
}

.save-btn {
  padding: 10px 20px;
  font-size: 1em;
  border: solid;
  //border: none;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 40px;
}

.save-btn {
  background-color: #3167D9;
  color: #fff;
}


