<div class="header-landing">
  <div>
    <app-navbar-usuario></app-navbar-usuario>
  </div>
</div>

<div>

  <body>
    <div class="container">

      <!-- Sección de bienvenida -->
      <div class="welcome-section">
        <h1 *ngIf="lista_pacientes.length > 0">
          Bienvenido <span>
            {{lista_pacientes[0].user.first_name}}
            {{lista_pacientes[0].user.last_name}}
          </span></h1>
      </div>

      <div class="main-content">
        <div class="left-section">

          <div class="info-card ">
            <div class="left-section">
              <!-- Sección "¿Sabías qué?" -->
              <p class="subtitulos">¿Sabías qué?</p>
              <img src="/assets/images/cepillado.png" alt="Cepillado dental correcto">
              <p class="info-card1">El cepillado dental correcto debe durar al menos dos minutos y realizarse dos veces
                al día, utilizando una pasta con flúor.</p>
            </div>

            <div class="left-section">
              <!-- Historial de servicios -->
              <h3>Historial de servicios</h3>
              <div class="services-history ">

                <ul>
                  <!-- TODO: hacerlo en formato de tabla -->
                  <li><strong>Restauración dental</strong> - 06/08/2024</li>
                  <li><strong>Tratamiento de encías</strong> - 12/08/2024</li>
                  <li><strong>Implantes</strong> - 18/08/2024</li>
                </ul>
              </div>


            </div>

          </div>

          <div class="agenda-perfil">
            <!-- Próximas citas -->
            <div class="upcoming-appointments">
              <h3>Agenda</h3>
              <div class="calendar">
                <mbsc-eventcalendar [data]="myEvents" [options]="eventSettings"></mbsc-eventcalendar>
                <!-- <img src="/assets/images/calendario.png" alt="Calendario"> -->
                <p><strong>Revisión y limpieza dental</strong><br>Dra. Cynthia López<br>10:00 AM - 10:45 AM</p>
                <p><strong>Ajuste de ortodoncia</strong><br>Dra. Cynthia López<br>1:00 PM - 1:45 PM</p>
              </div>
            </div>

            <div class="profile-section">
              <h3>Perfil</h3>
              <div class="profile-header" *ngIf="lista_pacientes.length > 0">
                <img class="profile-pic" src="assets/images/user.jpg" alt="Imagen de perfil">
                <div class="profile-info">
                  <h4>{{lista_pacientes[0].user.first_name}}
                    {{lista_pacientes[0].user.last_name}}</h4>
                </div>
              </div>

              <!-- Navegación de pestañas -->
              <div class="profile-tabs">
                <button class="tab-button active">Información general</button>
                <button class="tab-button">Contacto</button>
              </div>

              <!-- Contenido de la pestaña Información -->
              <div class="tab-content active" *ngIf="lista_pacientes.length > 0">
                <p><strong>Nombre (s):</strong> {{lista_pacientes[0].user.first_name}}</p>
                <p><strong>Apellido Paterno:</strong> {{lista_pacientes[0].user.last_name}}</p>
                <p><strong>Apellido Materno:</strong> {{lista_pacientes[0].apellido_materno}}</p>
                <p><strong>Fecha de Nacimiento:</strong> {{lista_pacientes[0].fecha_nacimiento | date:
                  'dd/MM/yyyy':'UTC'}}</p>
              </div>

              <!-- Contenido de la pestaña Contacto (aquí puedes agregar más detalles si es necesario) -->
              <div class="tab-content">
                <!-- <p>Datos médicos aún no disponibles.</p> -->
                <p><strong>Correo electrónico:</strong> {{lista_pacientes[0].user.email}}</p>
                <p><strong>Número de teléfono:</strong> {{lista_pacientes[0].telefono}}</p>
                <p><strong>Contacto de emergencia:</strong> {{lista_pacientes[0].contacto_emergencia}}</p>
              </div>

            </div>

          </div>

        </div>

        <div class="right-section">
          <!-- Receta reciente -->
          <div *ngIf="ultimaReceta; else noReceta">
            <div class="prescription-section" *ngIf="lista_pacientes.length > 0">
              <h3>Receta reciente</h3>
              <p><strong>Paciente:</strong> {{lista_pacientes[0].user.first_name}} {{lista_pacientes[0].user.last_name}} </p>
              <p><strong>Fecha:</strong> {{ ultimaReceta.fecha_receta | date: 'dd/MM/yyyy' }}</p>
              <!-- <p><strong>Hora:</strong> {{ ultimaReceta.horario_receta }}</p> -->
              <p><strong>Diagnóstico:</strong> {{ ultimaReceta.diagnostico }}</p>
              <p><strong>Medicamento:</strong> {{ ultimaReceta.medicamento }}</p>
              <!-- TODO: dosis en bd -->
              <p><strong>Indicaciones:</strong> {{ ultimaReceta.indicaciones }}</p>
              <p><strong>Nota:</strong> {{ ultimaReceta.nota }}</p>
              <!-- <p><strong>Conclusiones:</strong> {{ ultimaReceta.conclusiones }}</p> -->
              <p><strong>Firma y sello del odontólogo:</strong>
                <img src="/assets/images/firma.png" alt="Firma">
            </div>
          </div>

          <ng-template #noReceta>
            <div class="alert alert-warning" role="alert">
              No hay recetas registradas aún.
            </div>
          </ng-template>

          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>

        </div>



      </div>
    </div>
  </body>
</div>
