<div class="header-landing">
  <header>
    <app-navbar-usuario></app-navbar-usuario>
  </header>
</div>


<body>
<div class="container">
  <!-- Sección de perfil -->
  <div class="profile-header">
    <h1>Perfil</h1>
  </div>

  <div class="profile-content">
    <!-- Foto de perfil -->
    <div class="profile-photo">
      <img src="assets/images/user.jpg" alt="Foto de perfil">
    </div>

    <!-- Información del perfil - Columna Izquierda -->
    <div class="profile-info-left">
      <ng-container *ngIf="lista_pacientes.length > 0">
        <ng-container *ngIf="lista_pacientes[0] as paciente">

          <div>
            <p>
              <strong>Nombre:</strong>
              <span class="input-group" >{{ paciente.user.first_name }}</span>
            </p>
          </div>

          <div>
            <p>
              <strong>Apellido Paterno:</strong>
              <span class="input-group">{{ paciente.user.last_name }}</span>
            </p>
          </div>

          <div>
            <p>
              <strong>Apellido Materno:</strong>
              <span class="input-group">{{ paciente.apellido_materno }}</span>
            </p>
          </div>

          <div >
            <p>
              <strong>Fecha de Nacimiento:</strong>
              <span class="input-group">{{ paciente.fecha_nacimiento }}</span>
            </p>
          </div>

          <div >
            <p>
              <strong>Correo Electrónico:</strong>
              <span class="input-group">{{ paciente.user.email }}</span>
            </p>
          </div>

          <div >
            <p>
              <strong>Alergias:</strong>
              <span class="input-group">{{ paciente.alergias }}</span>
            </p>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <!-- Información del perfil - Columna Derecha -->
    <div class="profile-info-right">
      <ng-container *ngIf="lista_pacientes.length > 0">
        <ng-container *ngIf="lista_pacientes[0] as paciente">

          <div >
            <p>
              <strong>Enfermedades Crónicas:</strong>
              <span class="input-group">{{ paciente.enfermedades }}</span>
            </p>
          </div>

          <div >
            <p>
              <strong>Tipo de Sangre:</strong>
              <span class="input-group">{{ paciente.tipo_sangre }}</span>
            </p>
          </div>

          <div >
            <p>
              <strong>Contacto de Emergencia:</strong>
               <span class="input-group">{{ paciente.contacto_emergencia }}</span>
              </p>
          </div>

          <div >
            <p>
              <strong>Historial Odontológico:</strong>
               <span class="input-group">{{ paciente.historial }}</span>
              </p>
          </div>

          <!-- Botones de acción -->
          <div class="action-buttons">
            <button class="save-btn">Editar</button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
</body>
