/*Todos los estilos para desktop*/
//Horizontal full pantalla

* {
  font-family: Nexa !important;
}

body {
  background-color: #F3F5F9;
  /* color */
}

@media (min-width: 960px) and (orientation: landscape) {}

// Vertical full pantalla
@media (max-width: 961px) and (orientation: portrait) {}

/* landing */

.header-landing {
  background-color: #F3F5F9;
  /* color */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
  margin: auto;
  font-family: Nexa !important;
}

.login-container {
  background-color: #F3F5F9;
  height: 60vh;

}

.login-content {
  width: 100%;
  margin-right: 90px;
}

.login-title {
  font-size: 36px;
  font-weight: bold;
  color: #3167D9;
  font-family: Nexa !important;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #E8F0FE;
  border-radius: 5px;
  font-size: 16px;
}

.input-group-text {
  background: #E8F0FE 0% 0% no-repeat padding-box;
  border: 1px solid #E8F0FE;
  opacity: 1;
  border-left: none !important;
}

.login-button {
  width: 60%;
  padding: 15px;
  background-color: #3167D9;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 40px auto;
  display: flex;
  justify-content: center;

}

.login-button:hover {
  background-color: #1e54b7;
}

.login-image {
  position: relative;
  margin-left: 55px;
}

.login-image img {
  max-width: 100%;
  height: auto;
}
