<div class="header-landing">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="wrapper">
    <div class="login-container">
      <div class="login-content">
        <h1 class="login-title">Inicio de Sesión</h1>

        <!-- Input para correo electronico -->
        <div class="pt-3 mb-3 form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" [(ngModel)]="username" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
          <div *ngIf="errors.username" class="invalid-feedback">{{ errors.username }}</div>
        </div>

        <!-- Input para contraseña -->
        <div class="pt-3 mb-3 form-group">
          <label class="" for="password">Contraseña</label>
          <div class="input-group input-group-merge">
            <input type="{{type}}" [(ngModel)]="password" id="show-password" name="password_user" class="form-control pwd" placeholder="Ingresa tu contraseña" (keyup.enter)="login()">
            <div class="input-group-text" id="show-password" data-password="false">
              <i *ngIf="type == 'password'" class="bi bi-eye-fill" (click)="showPassword()"></i>
              <i *ngIf="type == 'text'" class="bi bi-eye-slash-fill" (click)="showPassword()"></i>
            </div>
          </div>
          <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>
        </div>

        <!-- Botón -->
        <!-- TODOD: por el momento estoy usando este para iniciar sesion -->
        <button type="submit" class="login-button" (click)="login()">Iniciar Sesión</button>

      </div>



    </div>

    <div class="login-image">
      <img src="assets/images/Doctora1.png" alt="Doctora">
    </div>


  </div>
</div>

