<div>
  <app-navbar-usuario></app-navbar-usuario>
</div>

<body>
  <div class="wrapper">
    <div class="container">
      <div class="header">
        <h1>Historial de Consultas</h1>
      </div>

      <div class="table table-striped tabla-historial">
        <table>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Fecha</th>
              <th scope="col">Horario</th>
              <th scope="col">Motivo de la consulta</th>
              <th scope="col">Conclusiones resultantes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cita of lista_recetas; let i=index">
              <td>{{cita.id}}</td>
              <td>{{cita.fecha_receta | date: 'dd/MM/yyyy':'UTC' }}</td>
              <td>{{cita.horario_receta}}</td>
              <td>{{cita.diagnostico}}</td>
              <td>{{cita.conclusiones}}</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>

</body>
