<body>
  <div class="header-landing">
    <div>
      <app-navbar></app-navbar>
    </div>
    <div class="wrapper">
      <div class="text-section">
        <!-- Bienvenida Inicio -->
        <h1>Bienvenido a ConsultDent</h1>
        <p>Nos complace recibirte en nuestro portal web. Aquí encontrarás toda la información que necesitas sobre
          nuestros
          servicios dentales, el equipo que cuida tu salud bucal y cómo puedes agendar tu próxima cita. En ConsultDent,
          tu
          sonrisa es nuestra prioridad.
        </p>

        <!-- Botones -->
        <div class="buttons">
          <a class="nav-link active ubicacion" id="principal" aria-current="page"
            (click)="clickNavLink('Contacto')">Ubicación</a>

          <a href="#" class="contacto">
            <i class="bi bi-telephone-fill"></i>
            +212 5 28 22 12 34
          </a>
        </div>
      </div>

      <!-- Imagen Doc 1 -->
      <div class="doctor-image">
        <img src="assets/images/Doctora.png" alt="Imagen de la doctora">
      </div>

    </div>
  </div>
</body>
