* {
  font-family: Nexa !important;
}

body {
  background-color: #F3F5F9;
}

.header-landing {
  background-color: #F3F5F9;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  font-family: Nexa !important;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.text-section {
  max-width: 500px;
}

.text-section h1 {
  color: #2463EB;
  font-size: 68px;
  margin-bottom: 20px;
  font-family: Nexa !important;
  font-weight: bold;
  line-height: 1.1;
}

.text-section p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #666666;
}

/* Botones */

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons a {
  text-decoration: none;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: block;
}

.buttons .ubicacion {
  background-color: #3167D9;
  color: white;
  border-radius: 25px;
}

.buttons .contacto {
  background-color: transparent;
  color: #3167D9;
  border: 1px solid #3167D9;
  border-radius: 25px;
}

.buttons .contacto i {
  margin-right: 10px;
}

.buttons .ubicacion, .buttons .contacto {
  min-width: 50px;
  width: 90%;
  cursor: pointer;
}

.doctor-image {
  max-width: 500px;
}

.doctor-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/* Responsive Styles */

@media (max-width: 1200px) {
  .wrapper {
    padding: 30px;
  }

  .text-section h1 {
    font-size: 56px;
  }

  .text-section p {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-section {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .doctor-image {
    max-width: 80%;
  }

  .text-section h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .text-section h1 {
    font-size: 36px;
  }

  .text-section p {
    font-size: 13px;
  }

  .buttons {
    width: 100%;
    gap: 15px;
  }

  .buttons .ubicacion, .buttons .contacto {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 20px;
  }

  .text-section h1 {
    font-size: 28px;
  }

  .text-section p {
    font-size: 12px;
  }

  .doctor-image {
    max-width: 100%;
  }
}
