/* Estilos generales */
.todo {
  background-color: #F3F5F9;
  font-family: Nexa !important;
}

.wrapper {
  background-color: #F3F5F9;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del Encabezado */
.encabezado {
  text-align: center;
  margin-bottom: 20px;
}

.titulo h1 {
  font-size: 2.5rem;
  color: #2962ff;
  font-weight: bold;
}

h2 {
  color: #111;
  font-weight: 400;
}

/* Estilos del Formulario */
.registro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  color: #2962ff;
  justify-content: center;
}

h3 {
  font-size: 20px;
}

.registro label {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  color: #2d2b2b;
}

.mat-input {
  background: #f7f9fc;
  border-radius: 8px;
  height: 57px;
}

/* Estilos para la Subida de Imágenes */
.image-upload-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.image-preview {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-input label {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  color: #2d2b2b;
}

.upload-input input {
  display: none;
}

/* Estilos para los Botones */
.section-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 80px;
}

.section-buttons button {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.section-buttons .btn-danger {
  background-color: #ff3d00;
  color: #fff;
}

.section-buttons .btn-alert {
  background-color: #2962ff;
  color: #fff;
}

/* Estilos para campos adicionales */
.foto {
  background: #f7f9fc;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  border: none;
}

.texto, .foto {
  padding: 10px;
}

.seleccion {
  justify-content: left;
  justify-items: left;
  cursor: pointer;
  color: #6d6a6a !important;
}

/* Estilos responsivos */

/* Tablets */
@media (min-width: 600px) and (max-width: 959px) {
  .wrapper {
    max-width: 90%;
  }

  .titulo h1 {
    font-size: 2rem;
  }

  .registro {
    gap: 10px;
  }

  .section-buttons {
    gap: 40px;
  }

  .section-buttons button {
    width: 130px;
    height: 45px;
    font-size: 0.9rem;
  }

  .foto {
    height: 45px;
  }
}

/* Móviles */
@media (max-width: 599px) {
  .wrapper {
    max-width: 100%;
    padding: 10px;
  }

  .titulo h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 18px;
  }

  .registro {
    gap: 8px;
  }

  .section-buttons {
    flex-direction: column;
    gap: 15px;
  }

  .section-buttons button {
    width: 100%;
    height: 45px;
    font-size: 0.9rem;
  }

  .image-upload-container {
    flex-direction: column;
    align-items: center;
  }

  .image-preview {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .foto {
    width: 100%;
    height: 45px;
  }
}
