<div class="header-landing">
  <div>
    <app-navbar-usuario></app-navbar-usuario>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <!-- Sección de perfil -->
    <div class="profile-header">
      <h1>Agendar Cita</h1>
    </div>

    <div class="appointment-section">
      <div class="appointment-left">

        <div class="profile-content">

          <!-- Información del perfil - Columna Izquierda -->
          <div class="profile-info-left">
            <label>Nombre(s)</label>
            <mat-form-field class="appointment-input" appearance="outline">
              <input matInput [(ngModel)]="paciente.first_name" name="nombre" placeholder="Ingresa el nombre">
            </mat-form-field>
            <div *ngIf="errors.first_name" class="invalid-feedback">{{ errors.first_name }}</div>

            <label>Apellido Paterno</label>
            <mat-form-field class="appointment-input" appearance="outline">
              <input matInput [(ngModel)]="paciente.last_name" placeholder="Ingresa el apellido paterno">
            </mat-form-field>
            <div *ngIf="errors.last_name" class="invalid-feedback">{{ errors.last_name }}</div>

            <label>Apellido Materno</label>
            <mat-form-field class="appointment-input" appearance="outline">
              <input matInput [(ngModel)]="paciente.apellido_materno" placeholder="Ingresa el apellido materno">
            </mat-form-field>
            <div *ngIf="errors.apellido_materno " class="invalid-feedback">{{ errors.apellido_materno }}</div>

            <div class="date-time-section">
              <label for="appointment-input">Fecha de nacimiento</label>
              <mat-form-field class="appointment-input" appearance="outline">
                <input matInput [matDatepicker]="picker" [(ngModel)]="cita.fecha_cita" (focus)="picker.open()"
                  placeholder="Agregar fecha" (dateChange)="changeFecha($event)" type="string">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div *ngIf="errors.fecha_cita" class="invalid-feedback">{{ errors.fecha_cita }}</div>
            </div>

            <label>Correo electrónico</label>
            <mat-form-field class="appointment-input" appearance="outline">
              <input matInput [(ngModel)]="paciente.email" placeholder="Ingresa el correo electrónico"
                [disabled]="editar">
            </mat-form-field>
            <div *ngIf="errors.email" class="invalid-feedback">{{ errors.email }}</div>

          </div>
        </div>
      </div>

      <!-- Información del perfil - Columna Derecha -->
      <div class="appointment-right">

        <div class="profile-info-right">

          <label>Alergias</label>
          <mat-form-field class="appointment-input" appearance="outline">
            <input matInput [(ngModel)]="paciente.alergias" placeholder="Ingresa las alergias">
          </mat-form-field>
          <div *ngIf="errors.alergias" class="invalid-feedback">{{ errors.alergias }}</div>

          <label>Enfermedades crónicas</label>
          <mat-form-field class="appointment-input" appearance="outline">
            <input matInput [(ngModel)]="paciente.enfermedades_cronicas"
              placeholder="Ingresa las enfermedades crónicas">
          </mat-form-field>
          <div *ngIf="errors.enfermedades_cronicas" class="invalid-feedback">{{ errors.enfermedades_cronicas }}</div>

          <label>Tipo de sangre</label>
          <mat-form-field class="appointment-input" appearance="outline">
            <input matInput [(ngModel)]="paciente.tipo_sangre" placeholder="Ingresa el tipo de sangre">
          </mat-form-field>
          <div *ngIf="errors.tipo_sangre" class="invalid-feedback">{{ errors.tipo_sangre }}</div>

          <label>Número telefónico</label>
          <mat-form-field class="appointment-input" appearance="outline">
            <input matInput [(ngModel)]="paciente.telefono" mask='(000) 000-0000'
              placeholder="Ingresa el número telefónico">
          </mat-form-field>
          <div *ngIf="errors.telefono" class="invalid-feedback">{{ errors.telefono }}</div>

          <label>Contacto de emergencia</label>
          <mat-form-field class="appointment-input" appearance="outline">
            <input matInput [(ngModel)]="paciente.contacto_emergencia" mask='(000) 000-0000'
              placeholder="Ingresa el contacto de emergencia">
          </mat-form-field>
          <div *ngIf="errors.contacto_emergencia" class="invalid-feedback">{{ errors.contacto_emergencia }}</div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="appointment-section">
      <!-- Selección de fecha y horarios -->
      <div class="appointment-left">

        <div class="date-time-section">
          <label for="appointment-date">Fecha</label>
          <mat-form-field class="appointment-input" appearance="outline">
            <input matInput [matDatepicker]="picker" [(ngModel)]="cita.fecha_cita" (focus)="picker.open()"
              placeholder="Agregar fecha" (dateChange)="changeFecha($event)" type="string">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="errors.fecha_cita" class="invalid-feedback">{{ errors.fecha_cita }}</div>
        </div>

        <div class="time-slots">
          <label>Horarios</label>

          <h3>Mañana</h3>
          <div class="time-row">
            <button class="time-slot">09:00</button>
            <button class="time-slot">10:00</button>
            <button class="time-slot">11:00</button>
            <button class="time-slot">12:00</button>
          </div>
          <h3>Tarde</h3>
          <div class="time-row">
            <button class="time-slot">13:00</button>
            <button class="time-slot">14:00</button>
            <button class="time-slot">15:00</button>
            <button class="time-slot">16:00</button>
            <button class="time-slot">17:00</button>
          </div>
          <h3>Noche</h3>
          <div class="time-row">
            <button class="time-slot">19:00</button>
            <button class="time-slot">20:00</button>
            <button class="time-slot">21:00</button>
          </div>
        </div>

        <div class="services-section">
          <label for="service-select">Servicios</label>
          <mat-form-field appearance="outline" class="appointment-input">
            <mat-label>Selecciona el servicio</mat-label>
            <mat-select [(ngModel)]="cita.servicios" (ngModelChange)="calcularTotal()">
              <mat-option *ngFor="let servicio of servicios" [value]="servicio.viewValue">
                {{servicio.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="errors.servicios" class="invalid-feedback">{{ errors.servicios }}</div>
        </div>
      </div>

      <!-- Resumen y formas de pago -->
      <div class="appointment-right">
        <div class="payment-section">
          <label for="payment-select">Forma de pago</label>
          <mat-form-field appearance="outline" class="appointment-input">
            <mat-label>Selecciona la forma de pago</mat-label>
            <mat-select [(ngModel)]="cita.forma_pago">
              <mat-option *ngFor="let forma_pago of forma_pago" [value]="forma_pago.viewValue">
                {{forma_pago.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="errors.forma_pago" class="invalid-feedback">{{ errors.forma_pago }}</div>
        </div>

        <div class="appointment-summary">
          <h3>Resumen</h3>
          <p><strong>Fecha:</strong> {{ cita.fecha_cita }}</p>
          <p><strong>Hora:</strong> 20:00 <!-- TODO: Aquí agregar un valor dinámico más adelante -->
          </p>
          <p><strong>Servicio:</strong> {{ cita.servicios }}</p>
          <p><strong>Forma de pago:</strong> {{ cita.forma_pago }}</p>
          <p><strong>Total:</strong> ${{ total }}
            <!-- TODO: Si el precio es fijo, calcularlo con base en el servicio seleccionado -->
          </p>
        </div>

        <br><br>

        <div class="appointment-buttons">
          <button class="cancel-button">Cancelar</button>
          <button class="save-button" (click)="guardar()">Guardar</button>
        </div>

      </div>
    </div>
  </div>
</div>
